extends layout

block content
    h1(class="hPretty")= title

    - let dogid = toShow._id
    - let dog_breed = toShow.breed
    - let dogyrsOfLifeExpectancy = toShow.yrsOfLifeExpectancy
    - let dogsize = toShow.size

    div.row(class="mb-2")
        div.mr-1(class="dogUpdatePretty") ID is: #{dogid}
        - let actionid = "/resource/dogs/" + dogid
        form(id='DogForm', action=actionid, method="PUT")
            div.form-group
                label.dogUpdateForm(for="breed") Dog Breed
                input#breed(type="text", name="breed", value="dog_breed")
            div.form-group
                label.dogUpdateForm(for="size") Dog Size
                input#size(type="text", name="size", value="dogsize")
            div.form-group
                label.dogUpdateForm(for="yrsOfLifeExpectancy") Dog Years of Life Expectancy
                input#yrsOfLifeExpectancy(type="text", name="yrsOfLifeExpectancy", value="dogyrsOfLifeExpectancy")
            input(type="submit")

    script.
        document.forms['DogForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, { 
                method: 'PUT', 
                body: new URLSearchParams(new FormData(event.target)) 
            }).then((resp) => { 
                return resp.json(); 
            }).then((body) => { 
                alert("Save succeded")                
            }).catch((error) => { 
                alert("Save failed " + error ) });
        });
    